@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
  font-family: 'Inter', sans-serif;
  color: $color-typograph-text;
}

h1,
h2,
h3 {
  color: $color-typograph-title;
}

p {
  font-size: .9375rem;
}

a:hover {
  color: $color-secondary;
}